<header class="border-bottom-black m-0 p-0 d-flex align-items-center d-flex">
    <form class="col-4 col-md-2 p-2 m-0">
        <a action="index.jsp">
            <figure class="">
                <img alt="Logo PcHouse" src="assets/img/logo.png" title="Logo de PcHouse" id="logo" class="img-fluid">
            </figure>
        </a>
    </form>

    <nav class="navbar navbar-light col-2 col-md-1 order-first order-md-0 m-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <form class="col-4 col-md-2 ml-md-4 col-xl-5" action="busqueda.jsp">
        <input type="text" name="busqueda" class="col-12" id="barra" />
    </form>

    <figure class="d-none col-1 offset-1 mb-0" id="lupa">
        <img src="assets/img/barra_busqueda.png" alt="Lupa búsqueda" title="Barra de búsqueda" class="img-fluid logos">
    </figure>

    <figure class="col-1 col-md-2 col-xl-1 m-0">
        <form>
            <a action="login.jsp" class="d-flex">
                <figcaption class="pr-1">Entra o regístrate</figcaption>
                <img alt="Login" src="assets/img/usuario.png" title="Entra o registrate" class="img-fluid logos">
            </a>
        </form>
    </figure>

    <figure class="col-1 col-md-2 col-xl-1 m-0 ml-xl-4 d-flex">
        <form>
            <a action="login.jsp" class="d-flex">
                <figcaption class="pr-1">Házte Premium</figcaption>
                <img alt="Premium" src="assets/img/premium.png" title="Házte premium" class="img-fluid logos">
            </a>
        </form>
    </figure>

    <figure class="col-1 col-md-2 col-xl-1 m-0 ml-xl-4 d-flex">
        <form>
            <a action="login.jsp" class="d-flex">
                <figcaption class="pr-1">Mi Carrito</figcaption>
                <img alt="Carrito" src="assets/img/carrito.png" title="Mi carrito" class="img-fluid logos">
            </a>
        </form>
    </figure>
</header>
