<div class="container-fluid m-0 p-0 d-flex flex-column contenedor   ">

    <app-app-header></app-app-header>

    <div class="row m-0 p-0 contenedor flex-grow-1">
        <nav class="collapse col-xl-3 m-0 p-0 border-right-black border-bottom-black" id="navbarToggleExternalContent"
            role="navigation">
            <div class="col-12 row m-0 p-0">
                <div class="menu-item row col-12 m-2">
                    <form>
                        <a action="componentes.jsp">Componentes</a>
                    </form>
                </div>
                <div class="menu-item row col-12 m-2">
                    <form>
                        <a action="ordenadores.jsp">Ordenadores</a>
                    </form>
                </div>
                <div class="menu-item row col-12 m-2">
                    <form>
                        <a action="smartphones.jsp">Smartphones</a>
                    </form>
                </div>
                <div class="menu-item row col-12 m-2">
                    <form>
                        <a action="perifericos.jsp">Periféricos</a>
                    </form>
                </div>
                <div class="menu-item row col-12 m-2">
                    <form>
                        <a action="tablets.jsp">Tablets</a>
                    </form>
                </div>
                <div class="menu-item row col-12 m-2">
                    <form>
                        <a action="gaming.jsp">Gaming</a>
                    </form>
                </div>
            </div>
        </nav>

        <main class="bg-ligh-grey col-xl m-0 p-0">
            <div class="bg-blue">
                <p class="white p-2 pl-3">Tu tienda de tecnología online con los mejores precios, la mejor calidad y el mejor servicio</p>
            </div>
            <div class="">
                <form styleClass="row m-0 p-0 d-flex justify-content-around">
                    <button value="Ofertas" styleClass="col-5 button" action="ofertas.jsp"></button>
                    <button value="Configura tu PC" styleClass="col-5 button" action="login.jsp"></button>
                </form>
            </div>

            <div class="row p-0 m-0 d-flex justify-content-around">

            </div>

            <footer class="col-12 bg-blue mt-4">
                <p>© Abril 2020 PC House, Todos los derechos reservados. </p>
                <p>Términos y condiciones de usos | Políticas de privacidad | Política de cookies | Contacto</p>
                <p>Síguenos en:</p>
                <div class="row d-flex justify-content-center" id="redes">
                    <figure class="col-1">
                        <img src="assets/img/redes/insta.png" alt="Nuestra cuenta de Instagram" title="Instagram"
                            class="img-fluid">
                    </figure>
                    <figure class="col-1">
                        <img src="assets/img/redes/twitter.png" alt="Nuestra cuenta de Twitter" title="Twitter"
                            class="img-fluid">
                    </figure>
                    <figure class="col-1">
                        <img src="assets/img/redes/facebook.png" alt="Nuestra cuenta de Facebook" title="Facebook"
                            class="img-fluid">
                    </figure>
                </div>
            </footer>
        </main>
    </div>
</div>